.left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: red;
}

.middle {
  position: absolute;
  left: 20%;
  height: 100%;
  width: 60%;
  background-color: grey;

}

.right {
  position: absolute;
  left: 80%;
  height: 100%;
  width: 20%;
  background-color: black;

}
